.pricing-app {
  margin-top: 20px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.display_box {
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  color: #333;
  padding: 30px;
  width: 90%;
  max-width: 900px;
}

.preheading {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.display_box h2 {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .display_box {
    padding: 20px;
  }

  .display_box h2 {
    font-size: 1.5rem;
  }

  .preheading {
    font-size: 1rem;
  }
}
